body {
  background-color: #eee;
}
.app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 65vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
}
.date {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.date .dd {
  width: 100px;
}
.date label {
  font-size: 10px;
  font-weight: bold;
  color: #818181;
  letter-spacing: 3px;
}
.date input {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 18px;
}
.date input:focus {
  outline: none;
}
.icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8311ed;
  border-radius: 50%;
  position: relative;
  margin-top: 10px;
  left: 300px;
  cursor: pointer;
  
}
.icon::before {
  position: absolute;
  content: "";
  right: 50px;
  height: 1px;
  width: 300px;
  background-color: #c2bebe;
}
.icon i {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.content{
  margin: 0;
  padding: 0;
  line-height: 5px;
}
.content h1{
  display: inline-block;
  font-size:50px ;
  font-weight: bold;
  margin-left: 10px;
}
.content span
{
  color: #8311ed;
  font-size: 50px;
  font-weight: 900;
}
.newElement{
  color: red;
  font-size: 12px;
  margin: 0;
}